---
import fs from "fs";
import path from "path";
import BaseLayout from "~/layouts/BaseLayout.astro";

const imagesDirPath = import.meta.env.PROD
  ? import.meta.env.IMAGES_DIR_PROD
  : import.meta.env.IMAGES_DIR_DEV;

const imagesDir = new URL(imagesDirPath, import.meta.url).pathname;

// Get all gallery folders
const galleryFolders = fs
  .readdirSync(imagesDir, { withFileTypes: true })
  .filter((dirent) => dirent.isDirectory())
  .map((dirent) => dirent.name);

// For each gallery, get the first image file
const galleries = galleryFolders.map((folder) => {
  const folderPath = path.join(imagesDir, folder);
  const images = fs
    .readdirSync(folderPath)
    .filter((file) => /\.(jpg|jpeg|png|gif|webp)$/i.test(file));
  return {
    name: folder,
    preview: images.length > 0 ? `/preview/${folder}/card.jpeg` : null,
    link: `/${folder}`,
  };
});
---

<BaseLayout>
  <ul id="galleries">
    {
      galleries.map((gallery) => (
        <li class="gallery">
          {gallery.preview && (
            <a href={gallery.link}>
              <img src={gallery.preview} alt={gallery.name + " preview"} />
              <h2 style="font-family: Unbounded; margin: 0; font-size: 1.5rem;">
                {gallery.name}
              </h2>
            </a>
          )}
        </li>
      ))
    }
  </ul>
</BaseLayout>

<style>
  ul#galleries {
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: max(2.5vw, 12px);
    gap: max(2.5vw, 12px);
    /* margin-top: 2rem; */
  }

  li.gallery {
    display: grid;
    grid-template-columns: 1fr;

    align-items: center;

    & a {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      color: inherit;
      text-transform: capitalize;
    }

    & img {
      /* max-height: 100px; */
      object-fit: cover;
      /* border-radius: 0.5rem; */
      aspect-ratio: 4 / 3;
    }
  }

  @media screen and (min-width: 400px) {
    ul#galleries {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (min-width: 650px) {
    ul#galleries {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
